#!/bin/sh

# Example of how you would execute your task during development

# In the project root:
hadoop jar ./target/${artifactId}-job.jar --input /tmp/${artifactId}/input --output /tmp/${artifactId}/output
